<div class="request">
  <div class="request-header">
    Request: <%= request.id %>
  </div>
  <div class="request-body">
    <p>Body:
    <pre>
    <%= request.to_value.to_pretty_raw_json %>
    </pre>
  </div>
  <div class="request-response">
    <p>Response:
    <%= request.response.to_pretty_raw_json %>
  </div>
</div>